---
import "./_style.scss"
---

<section id="details">
  <div class="container">
    <div class="w-[93%] mx-auto flex items-center justify-between rounded-3xl overflow-hidden bg-[#2d3e46]">
      <div class="flex  gap-x-4 h-[220px] w-[380px] py-10 px-8 bg-[#2d3e46]">
        <div class="left text-4xl">
          <i class="bi bi-person-video3 text-[#F1F1F1]"></i>
        </div>
        <div class=" text-[#F1F1F1] w-[80%] h-[90%] pl-4 flex flex-col gap-y-5">
          <h2>Malakali mutaxassislar</h2>
          <p class="text-sm">
            Katta ish tajribasi Ishga joylashish bo‘yicha to‘liq xizmatlar
            spektri
          </p>
        </div>
      </div>
      <div class="w-[1px] h-[180px] bg-[#1e2a2f]"></div>
      <div class="flex gap-x-4 h-[220px] w-[380px] py-10 px-8 bg-[#2d3e46]">
        <div class="left text-4xl">
          <i class="bi bi-headset text-[#F1F1F1]"></i>
        </div>
        <div class=" text-[#F1F1F1] w-[80%] h-[90%] pl-4 flex flex-col gap-y-3">
          <h2 class="leading-[23px]">Onlayn maslahatlar olishingiz mumkin</h2>
          <p class="text-sm">
            Bizning menejerlarimiz sizga maslahat berishga har doim tayyor
          </p>
        </div>
      </div>
      <div class="w-[1px] h-[180px] bg-[#1e2a2f]"></div>
      <div class="flex gap-x-4 h-[220px] w-[380px] py-10 px-8 bg-[#2d3e46]">
        <div class="left text-4xl">
          <i class="bi bi-mic text-[#F1F1F1]"></i>
        </div>
        <div class=" text-[#F1F1F1] w-[80%] h-[90%] pl-4 flex flex-col gap-y-3">
          <h2>Malakali mutaxassislar</h2>
          <p class="text-sm">
            Katta ish tajribasi Ishga joylashish bo‘yicha to‘liq xizmatlar
            spektri
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
