---
import "./_style.scss";
---

<section id="details">
  <div class="w-full h-auto rounded-xl bg-[#28394000] sm:bg-[#28394000] md:bg-[#283940] flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row items-center justify-between px-4 sm:px-4 md:px-0 lg:px-0 xl:px-0 2xl:px-0 gap-y-5 gap-x-5">
    
    
    
    
    <div class="flex w-full sm:w-full md:w-[340px] xl:w-[340px] 2xl:w-[340px] min-h-[190px] sm:h-[190px] md:h-[220px] xl:h-[220px] 2xl:h-[220px] lg:h-[220px] bg-[#283940] rounded-xl pt-10 sm:pt-10 md:pt-5 lg:pt-10 xl:pt-12 2xl:pt-12 pl-7 sm:pl-7 md:pl-4 lg:pl-5 xl:pl-7 2xl:pl-7 pr-2 pb-4">
      <span class="text-2xl">
        <i class="bi bi-people"></i>
      </span>
      <div class=" pl-4 pr-2"> 
        <h2 class="montserrat-500 leading-6">
          Malakali mutaxassislar
        </h2>
        <p class="leading-5 pt-4">
          Katta ish tajribasi ishga joylashish bo‘yicha to‘liq xizmatlar spektri
        </p>
      </div>
    </div>
 

    <div class="w-[1px] h-[180px] bg-[#344d59eb] hidden sm:hidden md:block lg:block xl:block 2xl:block"></div>
 
    <div class="flex w-full sm:w-full md:w-[340px] xl:w-[340px] 2xl:w-[340px] min-h-[190px] sm:h-[190px] md:h-[220px] xl:h-[220px] 2xl:h-[220px] lg:h-[220px] bg-[#283940] rounded-xl pt-10 sm:pt-10 md:pt-5 lg:pt-10 xl:pt-12 2xl:pt-12 pl-7 sm:pl-7 md:pl-4 lg:pl-5 xl:pl-7 2xl:pl-7 pr-2 pb-4">
      <span class="text-2xl">
        <i class="bi bi-telephone"></i>
      </span>
      <div class=" pl-4 pr-2">
        <h2 class="montserrat-500 leading-6">
          Onlayn maslahatlar olishingiz mumkin
        </h2>
        <p class="leading-5 pt-4">
          Bizning menejerlarimiz sizga maslahat berishga har doim tayyor
        </p>
      </div>
    </div>
 



    <div class="w-[1px] h-[180px] bg-[#344d59eb] hidden sm:hidden md:block lg:block xl:block 2xl:block"></div>


    <div class="flex w-full sm:w-full md:w-[340px] xl:w-[340px] 2xl:w-[340px] min-h-[190px] sm:h-[190px] md:h-[220px] xl:h-[220px] 2xl:h-[220px] lg:h-[220px] bg-[#283940] rounded-xl pt-10 sm:pt-10 md:pt-5 lg:pt-10 xl:pt-12 2xl:pt-12 pl-7 sm:pl-7 md:pl-4 lg:pl-5 xl:pl-7 2xl:pl-7 pr-2 pb-4">
      <span class="text-2xl">
        <i class="bi bi-chat-dots"></i>
      </span>
      <div class=" pl-4 pr-2">
        <h2 class="montserrat-500 leading-6">
          Mavjud Onlayn maslahat
        </h2>
        <p class="leading-5 pt-4">
          Bizning menejerlarimiz har doim sizga maslahat berishga tayyor
        </p>
      </div>
    </div>
 







</section>
