---
import "./_style.scss";
import { information } from "@mocks/index";
---

<section id="information" class="w-full h-auto pt-8 pb-20 bg-slate-900">
  <div class="container px-6 mx-auto">
    <div class="flex flex-col items-center gap-y-36">
      <div
        class="flex flex-col gap-y-6 w-[700px] bg-[#00000079] p-4 rounded-xl"
      >
        <p class="text-center text-xl font-bold text-white">
          Bizning Afzalliklar
        </p>
        <p class="text-center text-md text-white">
          Professional jamoa O‘zbekiston Respublikasi Bandlik va kambag‘allikni
          qisqartirish vazirligi tomonidan berilgan 607235-sonli rasmiy
          litsenziyamiz bor
        </p>
      </div>
      <div class="w-full flex items-center justify-between">
        {
          information.map((item: any) => {
            return (
              <div class="bg-[#00000079] rounded-xl p-4 w-[270px] hover:cursor-pointer flex flex-col justify-center items-center gap-y-4 transform hover:scale-110">
                <span class="text-[#FFFFFF] text-6xl">
                  <i class={item?.icon} />
                </span>
                <p class="text-center text-[#FFFFFF] text-md">{item?.info}</p>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
