
<section class="bg-[#F9FAFF] w-full pt-12 pb-20">
  <div class="flex flex-col items-center gap-y-12">
    <div
      class="w-[90%] sm:w-[90%] md:w-[600px] lg:w-[600px] xl:w-[600px] 2xl:w-[600px]  flex items-center flex-col bg-[#FAEDD8] px-12 py-2 rounded-xl gap-y-3"
    >
      <p class="text-[#060040] font-normal px-3 text-xl  montserrat-400">Biz bilan</p>
      <p class="text-center text-[#060040] montserrat-500 text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl leading-6">
        Hamkorlikda ishlayotgan davlatlar
      </p>
    </div>
    <div>
      <div class="carousel carousel-end w-full h-[200px]">
        <div class="carousel-item">
          <img src="/public/bu-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/ks-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/lo-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/pl-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/bu-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/ks-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/lo-flag.gif" alt="flag" />
        </div>
        <div class="carousel-item">
          <img src="/public/pl-flag.gif" alt="flag" />
        </div>
      </div>
    </div>
  </div>
</section>
