---
import "./__styles.scss";
---

<section class="pt-8 bg-white">
  <h3 class="text-bold text-[#333333] text-center">Bizning manzil:</h3>
  <iframe
    class="mt-12"
    src="https://yandex.uz/map-widget/v1/?from=mapframe&ll=69.276152%2C41.319629&mode=search&sll=69.276083%2C41.319583&source=mapframe&text=41.319583%2C69.276083&utm_source=mapframe&z=17"
    width="100%"
    height="550"
    allowfullscreen="true"
    style="position: relative"></iframe>
</section>
