---
import "./_style.scss";
---

<section id="about" class="w-full h-auto bg-slate-100 py-20">
  <div class="container mx-auto">
    <div
      class="flex flex-col-reverse sm:flex-col-reverse md:flex-row items-center justify-between px-3 sm:px-3 md:px-3 lg:px-0 gap-x-5"
    >
      <div
        class="meetTeam w-full sm:w-full md:w-full lg:w-[500px] xl:w-[500px] 2xl:w-[500px] h-[500px] relative z-0"
      >
        <div
          class="imgSibling absolute right-3 sm:right-3 md:right-3 lg:right-[-50px] xl:right-[-50px] 2xl:right-[-50px] bottom-3 sm:bottom-3 md:bottom-3 lg:bottom-[40px] xl:bottom-[40px] 2xl:bottom-[40px] w-[240px] sm:w-[300px] md:w-[270px] lg:w-[270px] xl:w-[270px] 2xl:w-[270px] h-[210px] bg-[#26343D] rounded pt-12 px-6 border-2 border-white montserrat-700"
        >
          <p class="text-4xl text-[#FFFFFF] font-bold">6700</p>
          <p class="text-lg text-[#FFFFFF] leading-6 pt-4">
            Dan ko'proq bandlik
          </p>
        </div>
      </div>
      <div
        class="w-full sm:w-full md:w-full lg:w-[500px] xl:w-[500px] 2xl:w-[500px] max-h-[500px] pb-9 flex flex-col gap-y-7 z-10"
      >
        <span class="text-[#060040] font-medium uppercase montserrat-600">
          Biz haqimizda
        </span>
        <h2 class="text-[#262B3F] font-bold montserrat-600">
          Har bir nomzodga nisbatan ehtiyotkorona munosabat
        </h2>
        <p class="text-[#9B9B9B] font-normal pr-23 montserrat-400">
          Biz xizmatning yuqori sifatini kafolatlaymiz. Kompaniyamiz ko‘p yillik
          tajriba va professionallikka ega
        </p>
      </div>
    </div>
  </div>
</section>
