---
import "./_style.scss";
---

<section id="about" class="w-full h-auto bg-slate-100 py-20">
  <div class="container mx-auto px-12">
    <div class="flex items-center justify-between">
      <div class="w-[500px] h-[500px] relative ">
        <img
          src="/public/team.png"
          alt="img"
          class="absolute w-[500px] h-[500px] left-0 top-0 rounded"
        />
        <div
          class="imgSibling absolute right-[-50px] bottom-[40px] w-[270px] h-[210px] bg-[#26343D] rounded pt-12 px-6 border-2 border-white montserrat-700"
        >
          <p class="text-4xl text-[#FFFFFF] font-bold">6700</p>
          <p class="text-lg text-[#FFFFFF] leading-12">
            Dan ko'proq bandlik
          </p>
        </div>
      </div>
      <div class="w-[600px] h-[500px] flex flex-col gap-y-7">
        <span class="text-[#060040] font-medium uppercase montserrat-500">
          Biz haqimizda
        </span>
        <p class="text-[#262B3F] text-4xl font-bold montserrat-600">
          Har bir nomzodga nisbatan ehtiyotkorona munosabat
        </p>
        <p class="text-[#9B9B9B] font-normal pr-23 montserrat-400">
          Biz xizmatning yuqori sifatini kafolatlaymiz. Kompaniyamiz ko‘p yillik
          tajriba va professionallikka ega
        </p>
      </div>
    </div>
  </div>
</section>
