
#contact h2{
    font-size: 26px;
    color: black;
}


#contact h4{
    font-size: 22px;
    color: black;
}

#contact p{
    color: rgba(0, 0, 0, 0.762);
}


#contact input , #contact select, #contact textarea{
    padding:12px;
    color: rgb(0, 0, 0);
    // background-color:#64768200;
    border: 1px solid gray;
    outline: none;
}


#contact input:focus , #contact select:focus, #contact textarea:focus{
    outline:1px solid black;
    background: white;
}


#contact .kontact{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.108);
}

#contact button{
    background-color:rgba(19, 19, 235, 0.728);
    width:140px;
    height: 40px;
    border-radius:8px;
    color: white;
}

#contact button:hover{
    background-color:rgba(19, 19, 235, 0.798);
}

#contact button:active{
    background-color:rgba(19, 19, 235, 0.89);
}


#contact form input::placeholder, #contact form textarea::placeholder{
    color: #000000;
}

#contact .network{
    width: 30px;
}

