header {
    nav{
        ul {
            li {
                a{
                    &:hover {
                        color: goldenrod;
                    }
                }
            }
        }
    }
}


.menuHider{
    left:0;
}

.languages{
    padding: 5px 12px;
}