---
import "./_style.scss";
---

<header class="bg-gray-800 text-white">
  <div class="container mx-auto px-6">
    <nav class="md:flex justify-between py-1">
      <ul class="justify-center">
        <li class="cursor-pointer mt-1">
          <span>
            <i class="bi bi-geo-alt-fill"></i>
            <span
              >Tosheknt shahar, Yunusobod tumani, Markaz-4 mavzesi, 34, 34aa-uy</span
            >
          </span>
        </li>
      </ul>
      <ul class="md:flex gap-x-2 montserrat-500 justify-center">
        <li>
          <a class="btn btn-ghost btn-sm" href="tel:+998901234567">
            <i class="bi bi-telephone"></i>
            <span>+998901234567</span>
          </a>
        </li>
        <li>
          <a class="btn btn-ghost btn-sm" href="tel:+998901234567">
            <i class="bi bi-telephone"></i>
            <span>+998901234567</span>
          </a>
        </li>
        <li>
          <a class="btn btn-ghost btn-sm" href="mailto:khodieff@gmail.com">
            <i class="bi bi-envelope-at"></i>
            <span>bestglobalize@gmail.com</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<header class="bg-black text-white">
  <div class="container mx-auto px-6">
    <div class="header flex justify-between items-center">
      <div class="navbar flex montserrat-500">
        <div class="flex-1">
          <a class="btn-ghost">
            <img src="/logo.png" alt="logo" class="w-42" />
          </a>
        </div>
        <div class="flex-none">
          <nav>
            <ul class="menu menu-horizontal px-1">
              <li><a href="#intro">Bosh sahifa</a></li>
              <li><a href="#about">Biz haqimizda</a></li>
              <li><a href="#service">Xizmatlarimiz</a></li>
              <li><a href="#information">Ma'lumot</a></li>
              <li><a href="#contact">Biz bilan bog'lanish</a></li>
            </ul>
          </nav>
         <nav>
          <ul class="flex gap-x-2">
            <li>
              <a href="/">UZ</a>
            </li>
            <li>
              <a href="/">RU</a>
            </li>
            <li>
              <a href="/">EN</a>
            </li>
          </ul>
         </nav>
        </div>
      </div>
    </div>
  </div>
</header>
