---
import "./style.scss";
import Details from "@components/details/index.astro"
---

<section id="intro">


  <div class="layer">
    <div class="container mx-auto">
      <div class="text-content montserrat-600 opacity-100 flex flex-col gap-y-2">
          <p>Biz sizga chet elda ish topishga <br> yordam berish uchun shu yerdamiz.</p>
          <h1>BEST GLOBALIZE</h1>
          <h2>XUSUSIY BANDLIK</h2>
      </div>
  </div>

  <div class="container mx-auto">
    <Details/>
  </div>
 
  
</section>
