#intro {
  height: 95vh;
  background-image: url("../../assets/bgs.webp");
  background-position: 0 0;
  background-size: cover;
  position: relative;
  

  .layer{
   padding-top: 180px;
   position: relative;
    .text-content {
      padding: 42px;
      color:#ffff;
      p {
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 400;
      }
      h1 {
        line-height: normal;
        font-size: 52px;
        span {
          font-size: 32px;
        }
      }
  
      h2 {
        font-size: 22px;
        color:#D9C47D;
      }
    }
  }

}
