<footer id="contact" class="footer bg-black px-6 py-4">
  <div class="container mx-auto px-6">
    <div class="flex w-full flex-wrap items-center justify-between">
      <div class="flex items-center gap-2 text-xl font-bold">
        <img src="/logo.png" alt="logo" class="w-42" />
      </div>
      <aside class="grid-flow-col items-center text-white">
        <p>
          © {new Date().getFullYear()}
          <a class="link link-hover font-medium" href="#">Bestglobalize.uz</a>
        </p>
      </aside>
      <ul class="flex h-5 gap-4 items-center">
        <li>
          <a href="/" class="btn btn-sm">
            <i class="bi bi-telegram"></i>
            <span>Telegram</span>
          </a>
        </li>
        <li>
          <a href="/" class="btn btn-sm">
            <i class="bi bi-instagram"></i>
            <span>Telegram</span>
          </a>
        </li>
        <li>
          <a href="/" class="btn btn-sm">
            <i class="bi bi-youtube"></i>
            <span>Youtube</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
