---
import "./__styles.scss";
---

<section class="bg-white w-full h-auto pt-12 pb-20">
  <div class="container mx-auto px-6 gap-y-12 flex flex-col">
    <p class=" text-xl sm:text-xl md:text-5xl lg:text-5xl xl:text-5xl 2xl:text-5xl text-center text-[#333333] font-bold">
      Tez-tez beriladigan savollarga javoblar
    </p>

    <div class=" flex flex-col gap-y-4 ">
      <div class="collapse collapse-arrow bg-white  border acardionCard">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title font-semibold montserrat-600 text-[#293840]">
          Sizning kompaniyangiz xizmatlaridan qanday foydalanishim mumkin?
        </div>
        <div class="collapse-content text-sm montserrat-500 text-[#293840de]">
          Avvalo, sizga qanday yordam kerakligini tushunishimiz kerak. Iltimos,
          aloqa ma'lumotlaringizni qoldiring va menejerlarimiz keyingi ish kuni
          ichida siz bilan bog'lanadi.
        </div>
      </div>
      <div class="collapse collapse-arrow bg-white  border acardionCard">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title font-semibold montserrat-600 text-[#293840]">
          Meni qaysi davlatlarga ishga yuborishingiz mumkin?
        </div>
        <div class="collapse-content text-sm montserrat-500 text-[#293840de]">
          Ayni paytda biz Polsha, Litva, Latviya, Chexiya, Slovakiya, Saudiya
          Arabistoni, Janubiy Koreya, Yaponiya kabi mamlakatlarda mehnat
          shartnomalariga egamiz.
        </div>
      </div>
      <div class="collapse collapse-arrow bg-white  border acardionCard">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title font-semibold montserrat-600 text-[#293840]">
          Qaysi hududlarda ishlaysiz?
        </div>
        <div class="collapse-content text-sm montserrat-500 text-[#293840de]">
          Toshkentda rasmiy ofisimiz bor.
        </div>
      </div>
      <div class="collapse collapse-arrow bg-white  border acardionCard">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title font-semibold montserrat-600 text-[#293840]">
          Shartnoma tuzish tartibi qanday.?
        </div>
        <div class="collapse-content text-sm montserrat-500 text-[#293840de]">
          Biz bilan o'zingiz uchun qulay bo'lgan har qanday usulda
          bog'lanishingiz mumkin: bizga telefon orqali qo'ng'iroq qiling yoki
          raqamingizni qoldirishingiz mumkin, biz sizga qo'ng'iroq qilamiz.
        </div>
      </div>
    </div>
  </div>
</section>
